<div class="row">
  <div class="span16">
<%= form_for resource, :as => resource_name, :url => session_path(resource_name) do |f| %>
    <%= f.email_field :email, :placeholder => 'email address' %>
    <%= f.password_field :password, :placeholder => 'password' %>
    <%= f.submit "Login", :class => "btn primary" %>
<% end %>
  </div>
</div>
