body 
{
    background-color: #4B7399;
    font-family: Verdana, Helvetica, Arial;
    font-size: 14px;
}

a img 
{
    border: none;
}

a 
{
    color: #0000FF;
}

.clear 
{
    clear: both;
    height: 0;
    overflow: hidden;
}

#container 
{
    width: 75%;
    margin: 0 auto;
    background-color: #FFF;
    padding: 20px 40px;
    border: solid 1px black;
    margin-top: 20px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
  width: 400px;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

#user_nav 
{
    float: right;
    font-size: 12px;
}

.simple_form
{
    padding: 10px;
}

.simple_form .error {
    color: red;
}

.simple_form label 
{  
  float: left;  
  width: 100px;  
  text-align: right;  
  margin: 2px 10px;  
}  
  
.simple_form div.input {  
  margin-bottom: 10px;  
}  

.simple_form div.boolean, .simple_form input[type='submit'] {  
  margin-left: 120px;  
}  

.simple_form div.boolean label {  
  float: none;  
  margin: 0;  
}  

.thumbnail
{
    max-width: 50px;
    max-height: 50px;
}

.formatted
{
    margin: 5px;
    text-align: left;
    border-collapse: collapse;
    border: 2px solid #555;
    width: 100%;
}

.formatted th
{
    font-weight: normal;
    padding: 8px;
    background: #cccccc;
    border-top: 4px solid #555;
    border-bottom: 1px solid #555;
    border-right: 1px solid #555;
    border-left: 1px solid #555;
    font: normal 12px arial, sans-serif;
}
.formatted td
{
    padding: 8px;
    background: #f0f0f0; 
    border-bottom: 1px solid #fff;
    border-top: 1px solid transparent;
    border-right: 1px solid #555;
    border-left: 1px solid #555;
    font: normal 12px arial, sans-serif;
}

.formatted tr:hover td
{
    background: #cccccc;
}